[Unit]
Description=goaws fake sqs/sns implementation
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/goaws
StandardOutput=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
